version: '3.8'
services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-drillflow}
      POSTGRES_USER: ${POSTGRES_USER:-drillflow}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-change-me}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - drillflow

  redis:
    image: redis:7
    ports:
      - 6379:6379
    networks:
      - drillflow

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - 8000:8000
    environment:
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=db
    depends_on:
      - db
      - redis
    networks:
      - drillflow

volumes:
  postgres_data:

networks:
  drillflow:
    driver: bridge
